Django>=5.0

# Django REST
djangorestframework
django-cors-headers

# Media / Images
Pillow

# Database
psycopg2-binary
dj-database-url

# Production server
gunicorn
whitenoise

# Environment variables
python-decouple

# Optional (enable only if used)
cloudinary
boto3
